/* helper classes */

.hidden
  display: none !important
  visibility: hidden

.clearfix 
  zoom: 1

.clearfix:before
.clearfix:after
  content: ""
  display: table

.clearfix:after
  clear: both
  
.pull-right
  float: right !important

.pull-left
  float: left !important
  
// images

.img-responsive
  display: block;
  max-width: 100%;
  height: auto;

.img-rounded
  border-radius: 6px;
  
.img-thumbnail
  padding: 4px;
  line-height: 1.42857143;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
  
.img-circle
  border-radius: 50%
  
// GitHub
#forkme_banner
  display: block
  position: absolute
  top: 0
  z-index: 10
  padding: 10px 50px 10px 10px
  color: #fff
  background: url('../img/blacktocat.png') #f92672 no-repeat 95% 50%
  font-weight: 700
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
  border-bottom-left-radius: 2px
  border-bottom-right-radius: 2px
  left: initial;
  right: 20px;

// @media (min-width: 767px) {
//   #forkme_banner {
//     left: 20px;
//     right: initial;
//   }
// }
// @media (min-width: 991px) {
//   #forkme_banner {
//     left: initial;
//     right: 20px;
//   }
// }
// @media (min-width: 1199px) {
//   #forkme_banner {
//     left: initial;
//     right: 20px;
//   }
// }
